In [115]:
import numpy as np
import pandas as pd

 # Loading Data Set

In [116]:
dt=pd.read_csv("SPAM-210331-134237.csv",encoding="ISO-8859-1")

In [117]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [118]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    116 non-null    object
 1   text    116 non-null    object
dtypes: object(2)
memory usage: 992.0+ bytes

In [119]:
dt["spam"]=dt["type"].map({"spam":1,"ham":0}).astype(int)

In [120]:
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [121]:
print("COLUMNS IN THE GIVEN DATA")
for col in dt.columns:
    print(col)

COLUMNS IN THE GIVEN DATA
type
text
spam

In [122]:
t=len(dt["type"])
print("NO OF ROWS IN THE GIVEN DATA",t)

NO OF ROWS IN THE GIVEN DATA 116

# Tokenization

In [123]:
dt["text"][1]  #before

'Ok lar... Joking wif u oni...'

In [124]:
def tokenizer(text):
    return text.split()

In [125]:
dt["text"]=dt["text"].apply(tokenizer)

In [126]:
dt["text"][1]  #after

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

# Stemming

In [127]:
dt["text"][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [128]:
from nltk.stem import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [129]:
def stem_te(text):
    return [porter.stem(word) for word in text]

In [130]:
dt["text"]=dt["text"].apply(stem_te)

In [131]:
dt["text"][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

# Lemmitization

In [132]:
from nltk.stem import WordNetLemmatizer

In [133]:
lemmatizer=WordNetLemmatizer()

In [134]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word,pos="a") for word in text]

In [135]:
dt["text"]=dt["text"].apply(lemmit_it)

# Stopword Removal

In [136]:
from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [137]:
def stop_it(text):
    review= [word for word in text if not word in stop_words]
    return review

In [138]:
dt["text"]=dt["text"].apply(stop_it)

In [139]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [141]:
dt["text"]=dt["text"].str.join(" ")

In [142]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

# Transform Text Data into TF-IDF Vectors

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

In [153]:
y=dt.spam.values

In [154]:
x=tfidf.fit_transform(dt["text"])

In [160]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

# Classification using Logistic Regression

In [161]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5